#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
data
src/merge_files.py
src/copy_files_per_list.py
src/merge_files.py
src/sendmail.py
src/test
src/test.unfinished
src/update_db.py
test_data/image.jpg
test_data/Trance2.html
test_data/Trance2s.html
src/plugins/trance_test.py
src/plugins/trance.py
.settings
test_data/share_send.html
src/plugins/test_cookie.py
test_data/verzend.html
test_data/loadto.html
test_data/verzend2.html
src/plugins/trance_db
src/plugins/trance.csv
test_data/trance1044.html
test_data/zippy.html
test_data/zippy2.html
test_data/zippy3.html
